/artifacts
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/org1/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
chaincode/nodejs/starter/node_modules
chaincode/nodejs/starter/package-lock.json