/**
 * Navbar
 */
.navbar {
    padding: .5rem 1rem;
    border-bottom: 2px solid #212529;
}
.navbar .navbar-brand:hover {
    color: #e85228 !important;
}
.navbar .navbar-sdg-logo img {
    height: 58px;
}

/**
 * Footer
 */
.footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    padding: .3rem 1rem;
    background: white;
    border-top: 1px solid #212529;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
 * App-Container
 */
.app-container {
    padding: 1rem 1rem .5em 1em;
    overflow: auto;
}

/**
 * Module: Asset list (list of all assets)
 */
.asset-list {
    position: relative;
    min-height: 300px;
}
.asset-list.asset-list-no-overflow {
    overflow: hidden;
}
.list-table tr th:last-child,
.list-table tr td:last-child {
    text-align: right;
}
.list-table .col-numeric-value {
    text-align: right;
}
.list-table .list-table-edit-col {
    width: 190px;
    min-width: 190px;
}
.list-table .list-button {
    margin-left: 5px;
    padding: .175rem .35rem;
    line-height: 1.3;
    font-size: 0.9em;
}
.list-table .list-button:first-child {
    margin-left: 0;
}
.list-table-disabled {
    position: absolute;
    width: 100%;
    height: calc(100% - 45px);
    top: 45px;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}


/**
 * Module: Asset detail (create or update a new asset)
 */
.asset-detail.asset-detail-no-overflow {
    overflow: hidden;
}
.asset-detail form {
    min-width: 350px;
    max-width: 600px;
}
.asset-detail form .form-group {
    margin-top: 12px;
}
.asset-detail form .form-group:first-child {
    margin-top: 0;
}
.asset-detail form .detail-buttons {
    margin-top: 12px;
}
.asset-detail form .detail-buttons .btn-secondary {
    float: right;
}
.asset-detail form .detail-buttons .btn-submit {
    white-space: nowrap;
}
.asset-detail form .detail-buttons .btn-submit .btn-submit-spinner {
    display: inline-block;
    position: relative;
    width: 35px;
}


/**
 * Module: Asset history (past transactions of an asset)
 */
.history-list .btn-back-to-list {
    float: right;
}
.history-list .list-table-history td {
    max-width: 46vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
}
.history-list .list-table-history .history-transaction {
    cursor: pointer;
}
.history-list .list-table-history .history-transaction:hover,
.history-list .list-table-history .history-transaction.active {
    background:rgba(0, 0, 0, .08);
}
.history-list .transaction-detail {
    padding-top: 39px;
}
.history-list .transaction-detail .card-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.history-list .transaction-detail .tx-detail-table tr td:first-child {
    padding-right: 12px;
    font-weight: bold;
}


/**
 * Helper classes (e.g. for hiding elements in the DOM)
 */
.hide-element {
    display: none !important;
}
/* loading spinner */
.loader, .loader:after {
    border-radius: 50%;
}
.loader {
    position: absolute;
    text-indent: -9999em;
    border-top: 1em solid rgba(255, 255, 255, 0.2);
    border-right: 1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1em solid rgba(255, 255, 255, 0.2);
    border-left: 1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
/* delete loading-spinner */
.delete-loader, .submit-btn-loader:after {
    width: 3em;
    height: 3em;
}
.delete-loader {
    top: 0;
    left: calc(50% - 1em);
    font-size: 2em;
    border-top: 0.7em solid rgba(0, 0, 0, 0.2);
    border-right: 0.7em solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.7em solid rgba(0, 0, 0, 0.2);
    border-left: 0.7em solid rgba(0, 0, 0, 0);
}
/* submit-button loading-spinner */
.submit-btn-loader, .submit-btn-loader:after {
    width: 1em;
    height: 1em;
}
.submit-btn-loader {
    top: -17px;
    right: 0;
    font-size: 11px;
}
/* spinner-animations */
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}